html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Comfortaa', 'Coda', cursive;
    color: rgb(102, 156, 170);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Comfortaa', 'Open Sans', sans-serif;
    font-weight: 600;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, rgb(174, 223, 230) 0%, rgb(155, 214, 165) 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
    border: 2px solid rgb(199, 228, 208);
}

.deck .card {
    height: 125px;
    width: 125px;
    background: rgb(243, 231, 225);
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: rgb(158, 211, 199);
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: rgb(109, 184, 134);
    font-size: 33px;
}

.deck .card.nomatch {
    background: #FFB6B9;
}

@keyframes shake {
    10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.shake {
    animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes enlarge {
    0% {
        transform: scale(0.7);
        -webkit-transform: scale(0.7);
    }
    100% {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
    }
}

.enlarge {
    animation: enlarge 0.4s ease-in-out alternate;
    -webkit-animation: enlarge 0.4s ease-in-out alternate;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.score-panel .timer {
    padding-left: 75px;
}

/* Styles for modal */
.modal {
    text-align: center;
    position: fixed;
    background: white;
    width: 100%;
    height: 100%;
    color: black;
    padding: 200px;
    z-index: 10000;
}

.modal h1 {
    color: rgb(109, 184, 134);
}

.hide {
    display: none;
}

button {
    color: white;
    background: rgb(109, 184, 134);
    border: none;
    cursor: pointer;
    padding: 10px;
    width: 100px;
    border-radius: 5px;
}